.headerBlock{
    background: linear-gradient(#021A31, #ffffff00);
    backdrop-filter: blur(10px);
    height: fit-content;
    display: inline-flex;
    align-items: center;
    width: calc(100vw - (100vw - 100%));
    height: 64px;
    justify-content: space-between;
    z-index: 100;
}
.fillerNavBarIcon{
    width: 120px;
}
.logoIcon{
    margin-left: 10px;
}
.navList{
    height: 100%;
}
.navList ul{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0px;
}
.navList ul li{
    display: inline-block;
    width: 100px;
    padding: 4px;
    margin: 0px 1vw 0px 1vw;
    height: calc(100% - 12px);
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.navList ul li:hover{
    animation: hoverNavList .1s;
    animation-fill-mode: both;
}
.navList ul li a{
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #FAFAFF;
    height: 100%;
    width: 100%;
}
.navList ul li a:hover{
    animation: hoverNavFont .1s;
    animation-fill-mode: both;
}


.languageOptionsBlock{
    display: inline-flex;
    margin-right: 20px;
}
.languageOptionsBlock button{
    width: fit-content;
    border: none;
    display: block;
    margin-left: 2px;
    border-radius: 4px;
    background-color: transparent;
    height: 38px;
    width: 38px;
}
.translateSVG{
    width: 28px;
    padding-top: 4px;
}

.languageOptionList{
    background: linear-gradient(to left, #ffffff33, #ffffff19);
    clip-path: path("M105.467 -3.7301e-07C106.571 -3.24728e-07 107.467 0.89543 107.467 2L107.467 11.1892C107.467 12.3402 107.962 13.4354 108.827 14.1948L112.214 17.1683C113.146 17.9875 113.115 19.4499 112.148 20.2287L108.957 22.7992C108.015 23.5585 107.467 24.7038 107.467 25.9142L107.467 35C107.467 36.1046 106.571 37 105.467 37L4.00001 37C1.79086 37 -1.53904e-06 35.2091 -1.44248e-06 33L-1.74846e-07 4C-7.8281e-08 1.79086 1.79086 -4.90482e-06 4 -4.80826e-06L105.467 -3.7301e-07Z");
    width: 113px; 
    height: 38px;
    display: inline-flex;
    justify-content:space-evenly;
    vertical-align: middle;

}
.languageOptionList span{
    padding: 8px 2px 8px 0px;
    color: #E0E0FF;
    display: flex;
    vertical-align: middle;
    text-align: center;
}
.languageOptionList span p{
    margin: 4px 0px 0px 2px;
    font-size: 16x;
}

.languageOption{
    width: 20px;
    display: inline-block;
    position: relative;
    left: -3px;
}
.languageOptionList span:hover{
    cursor: pointer;
    animation: hoverLang 0.08s;
    animation-fill-mode: forwards;
}

.headerBlock button:hover{
    cursor: pointer;
    animation: hoverTranslator .1s;
    animation-fill-mode: forwards;
}

@keyframes hoverLang{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}

@keyframes hoverTranslator{
    0%{
    }
    25%{
        background-color: #ffffff19;
    }
    100%{
        background-color: #ffffff33;
    }
}

@keyframes hoverNavList{
    0%{
        border-width: 4px 0 0 0;
        border-style: solid;
        border-color: transparent;
    }
    25%{
        border-width: 4px 0 0 0;
        border-style: solid;
        border-image: linear-gradient(90deg, #00cc8100 40%, #4cffbd 50%, #00cc8100 60%) 1;
    }
    50%{
        border-width: 4px 0 0 0;
        border-style: solid;
        border-image: linear-gradient(90deg, #00cc8100 30%, #4cffbd 50%, #00cc8100 70%) 1;
    }
    75%{
        border-width: 4px 0 0 0;
        border-style: solid;
        border-image: linear-gradient(90deg, #00cc8100 20%, #4cffbd 50%, #00cc8100 80%) 1;
    }
    100%{
        border-width: 4px 0 0 0;
        border-style: solid;
        border-image: linear-gradient(90deg, #00cc8100 10%, #4cffbd 50%, #00cc8100 90%) 1;
    }
}

@keyframes hoverNavFont{
    100%{
        color: #4CFFBD;
    }
}