.portfolioSection{
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.portfolioTitle{
    display: inline-flex;
    margin: auto;
    align-self: center;
    font-size: 72px;
    font-family: 'Play', sans-serif;
    background: -webkit-linear-gradient(0turn, #00FFA1, #5295FE, #6110DB);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slideBlock{
    display: flex;
    width: 90%;
    margin: auto;
    align-self: center;
    justify-content: center;
    padding: auto;
    flex-grow: row;
    flex-wrap: wrap;
    height: fit-content;
}
.carouselItem{
    width: 840px;
    height: 600px;
    margin: 20px;
    padding: 0px;
    border-radius: 8px;
    border: solid 1.5px #FAFAFF;
    color: #FAFAFF;
    overflow: hidden;
}

.projectBlock{
    position: relative;
    background: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.projectName, .projectTechnologiesBlock, .projectSeeMoreButton{
    display: none;
}

.projectBlock:hover{
    background-image: !important;
}
.projectBlock:hover .projectName, .projectBlock:hover .projectTechnologiesBlock, .projectBlock:hover .projectSeeMoreButton{
    display: block;
}

.projectName{
    margin-top: 0px;
}