.portfolioSection{
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
}
.portfolioTitle{
    display: inline-flex;
    margin: auto;
    align-self: center;
    font-size: 72px;
    font-family: 'Play', sans-serif;
    background: -webkit-linear-gradient(0turn, #00FFA1, #5295FE, #6110DB);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slideBlock{
    display: flex;
    width: 70%;
    margin: auto;
    align-self: center;
    justify-content: center;
    padding: auto;
    flex-grow: row;
    flex-wrap: wrap;
    height: fit-content;
    padding: 50px;
}
.carouselItem{
    width: 315px;
    height: 225px;
    margin: 20px;
    padding: 0px;
    border-radius: 8px;
    color: #FAFAFF;
    overflow: hidden;
    padding: 1.5px;
    background: linear-gradient(to right, #fafaffd8, #e0e0ff0e);
}

.projectBlock{
    position: relative;
    background: no-repeat;
    background-size: cover;
    border-radius: 7px;
    height: 100%;
    width: 100%;
}

.projectInside{
    display: none;
}

.projectBlock:hover{
    background-color: #0000009a;
    background-blend-mode: multiply;
}
.projectBlock:hover .projectInside{
    position: relative;
    display: block;
    filter:brightness(100%)
}

.projectName{
    margin-top: 0px;
}

.projectTechnologiesBlock{
    display: inline-flex;
}

.projectSeeMoreButton{
    border-radius: 48px;
    background-color: #FFFFFF64;
    border: solid 2px #FFFFFF16;
    width: 35%;
    height: 48px;
}