@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Play:wght@700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

*{
    font-family: 'League Spartan', sans-serif;
}
body{
    background-color: #03294D;
    margin: 0px;
    align-items: center;
    align-content: center;
}